<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <nav>
      <a href="/">home</a>
      <a href="/create">about</a>
      <a href="/coffee">coffee</a>
    </nav>
    <h1><%= title %></h1>
    <form action="/create" method="get">
      <label for="name">name: </label>
      <input type="text" id="name" name="name" /> <br /><br />
      <button type="submit">전송</button>
    </form>

    <h1>커피 제품 보기</h1>
    <!-- 커피이름을 입력하면 coffee.ejs에 -->
    <form action="/coffee" method="get">
      <label for="name">coffee name: </label>
      <input type="text" id="name" name="name" /> <br /><br />
      <button type="submit">전송</button>
    </form>

    <p><%= name %></p>
  </body>
</html>
